/* Types */

body {
	text-align: center;
	padding: 5px;
	margin: 5px;
	background-color: #878787;
}

h1 {
	font-size: 25px;
}

h2 {
    font-size: 20px;
    font-weight: bold;
}

.main-header ul {
	text-align: left;
	font-size: 18px;
	font-weight: bold;


}

table {
	border-color: black;
}

footer {
	text-align: left;
	font-size: 16px;
	padding: 2px;

}




/* ID */






/* Classes */

.profile-pic {
    border-radius: 50%;
}

.main-header {
	border: 5px solid blue;
	
}

.main-section {
	border: 5px solid black;
	text-align: left;
	
}

.form {
	border: 5px solid white;
	text-align: left;

}

/* Pseudo */

a:link {
	color: black;
}

a:visited {
	color: purple;
}

a:hover {
	color: blue;
}

