/* Types */

body {
	text-align: center;
	padding: 5px;
	margin: 5px;
	background-color: #434a52;
	font-family: Helvetica, Arial, sans-serif;
	color: white;
}

h1 {
	font-size: 1.5625em;
}

h2 {
    font-size: 1.25em;
    font-weight: bold;
}

.main-header ul {
	text-align: left;
	font-size: 1.125em;
	font-weight: bold;


}

table {
	border-color: black;
}

footer {
	text-align: left;
	font-size: 1em;
	padding: 2px;

}

/* ID */


/* Classes */

.profile-pic {
    border-radius: 50%;
}

.main-header {
	border: 0.3125em solid blue;
	
}

.main-section {
	border: 0.3125em solid black;
	text-align: left;
	
}

.form {
	border: 0.3125em solid white;
	text-align: left;

}

/* Pseudo */

a:link {
	color: black;
	text-decoration: none;
}

a:hover {
	color: black;
	text-decoration: none;
}

a:visited {
	color: white;
	text-decoration: none;
}

a:active {
	color:black;
	text-decoration: none;
}
